html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Roboto';
	color: #FFE3DE;
	font-weight: 700;
	-moz-osx-font-smoothing: grayscale;
	background-color: #0A043C;
}

* {
	margin: 0;
	padding: 0;
}

@keyframes emerge {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes appearByBottom {
	0% {
		transform: translate(0, 200px);
		opacity: 0;
		text-shadow: 0 0 0 #FFE3DE;
	}
	40% {
		text-shadow: 0 0 10px #FFE3DE;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
		text-shadow: 0 0 0 #FFE3DE;
	}
}


@keyframes movement {
	from {
		transform: translate(0, 5px);
	}
	to {
		transform: translate(0, 0);
	}
}

@keyframes appearByLeft {
	0% {
		transform: translate(-200px, 0);
		opacity: 0;
		text-shadow: 0 0 0 #FFE3DE;
	}
	40% {
		text-shadow: 0 0 10px #FFE3DE;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
		text-shadow: 0 0 0 #FFE3DE;
	}
}

@keyframes appearByRight {
	0% {
		transform: translate(200px, 0);
		opacity: 0;
		text-shadow: 0 0 0 #FFE3DE;
	}
	40% {
		text-shadow: 0 0 10px #FFE3DE;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
		text-shadow: 0 0 0 #FFE3DE;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}

